.example-spacer {
    flex: 1 1 auto;
  }
  .custom-toolbar {
    background-color: #2196f3;
    height: auto;
  }
  
  .menu-icon {
    color: white; /* Change this to your desired icon color */
  }
  
  .app-title {
    color: white; /* Change this to your desired title color */
    margin-left: 10px; /* Adjust as needed */
  }
  
  .example-icon {
    color: white; /* Change this to your desired icon color */
  }
  
  .favorite-icon {
    margin-right: 10px; /* Adjust as needed */
  }
  
  .share-icon {
    margin-right: 10px; /* Adjust as needed */
  }
    