<mat-toolbar class="custom-toolbar">
  <button mat-icon-button class="example-icon menu-icon" aria-label="Menu">
    <mat-icon>menu</mat-icon>
  </button>
  <span class="app-title">My App</span>
  <span class="example-spacer"></span>

  <button mat-raised-button color="primary" routerLink="/create-post" >Create New Post</button>
  <button mat-raised-button color="primary" routerLink="/view-all" style="margin-left: 10px;" >All Posts</button>
  <button mat-raised-button color="primary" routerLink="/search" style="margin-left: 10px;" >Search</button>
  

  <button mat-icon-button class="example-icon favorite-icon" aria-label="Favorite">
    <mat-icon>favorite</mat-icon>
  </button>
  <button mat-icon-button class="example-icon share-icon" aria-label="Share">
    <mat-icon>share</mat-icon>
  </button>
</mat-toolbar>

<router-outlet></router-outlet>